@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F9F9F9;
}

.containers{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1% 0 1%;
}



.item-enter {
  width: 100%;
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


li{
  cursor: pointer;
}


.NunitoFont{
  font-family: 'Nunito', sans-serif;
}

.ant-modal-content{
  border-radius: 24px !important;
  padding: 0px 0px !important;
}

.ant-modal-close-x{
  font-size: 20px !important;
  padding-top: 6px;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}